<% if day.training_day_exercises.empty? %>
    <div>
      NO EXERCISES
    </div>
<% else %>
    <% day.training_day_exercises.each do |exercise|%>
        <div class="edit-exercise-container">
          <%= render partial: 'training_day_exercise', locals: {exercise: exercise} %>
        </div>
    <% end %>
<% end %>
<%= link_to 'Add exercise',  '#', 'data-target' => "#myModal_#{day.id}", 'data-toggle' => 'modal'  %>
<div class="modal fade" id='<%= "myModal_#{day.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add exercise</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', day: day %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
