<div class="container main-container">
  <div class="row text-center">
    <h1>
      Програми тренувань
    </h1>
  </div>

  <div class="row programs-list">
    <%= render partial: 'programs/partials/programs_list', locals: {programs: @programs} %>
  </div>
</div>
