<section id="events">
  <div class="container" id="head">
    <div class="section-header">
      <h2 class="section-title text-center"> Календар тренувань </h2>
      <p class="text-center"> Організовуйте свій тренувальний процес </p>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-4 col-md-4  col-lg-4">
        <div class="icon-circle">
          <span> 1 </span>
          <i class="fa fa-search fa-2x"></i>
        </div>
        <h3> Планування тренування </h3>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4  col-lg-4">
        <div class="icon-circle">
          <span> 2 </span>
          <i class="fa fa-mobile-phone fa-4x"></i>
        </div>
        <h3> Сповіщення через SMS </h3>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4  col-lg-4">
        <div class="icon-circle">
          <span> 3 </span>
          <i class="fa fa-envelope-o fa-2x"></i>
        </div>
        <h3> Нагадування по Email </h3>
      </div>
    </div>
  </div>
  <div id="params-form" class="container">
    <h3 class="text-center">
      Заплануйте нове тренування
    </h3>
    <%= render partial: 'form', locals: {event: @event} %>
  </div>
  <div id="events-container" class="container">
    <%= render partial: 'events_list', locals: {events: @events} %>
  </div>

</section>