// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#events {
  .fa-mobile-phone {
    margin-top: 10px;
  }
  #params-form {
    h3 {
      padding-bottom: 30px;
    }
  }
  #events-container {
    ul,li{
      list-style:none;
    }
    ul{
      overflow:hidden;
      padding:3em;
      li {
        margin:1em;
        float:left;
        h2{
          font-weight:bold;
          padding-bottom:10px;
        }
        .event {
          color:#000;
          background:#ffc;
          display:block;
          padding:1em;
          /* Firefox */
          -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
          /* Safari+Chrome */
          -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
          /* Opera */
          box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        }

      }
      li:nth-child(even) .event{
        -o-transform:rotate(4deg);
        -webkit-transform:rotate(4deg);
        -moz-transform:rotate(4deg);
        position:relative;
        top:5px;
      }
      li:nth-child(3n) .event{
        -o-transform:rotate(-3deg);
        -webkit-transform:rotate(-3deg);
        -moz-transform:rotate(-3deg);
        position:relative;
        top:-5px;
      }
      li:nth-child(5n) .event{
        -o-transform:rotate(5deg);
        -webkit-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        position:relative;
        top:-10px;
      }
    }
  }
}
