/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/
.navbar-brand {
  height: 50px !important;
  padding: 0 !important;
  margin: 0 !important;
}

#navbar-logo {
  display: block;
  width: auto;
  float: left;
  height: 50px;
  vertical-align: middle;
}
.nav-tabs {
  display: inline-block !important;
  border-bottom: none !important;
  padding-top: 15px !important;
  font-weight: bold !important;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none !important;
  border-radius: 0 !important;
}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li {
  padding: 20px 15px 15px !important;
  border-left: 1px solid #eee !important;
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px !important;
  text-align: center !important;
  width: 100% !important;
}

.navbar-default {
  padding: 20px !important;
  font-size: 16px !important;
}

/* LOGIN BUTTON */

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 100%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}

.checkbox label{
  color: #000000;
}

@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
