// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.program-name {
  position: absolute;
  bottom:0;
  padding: 0 0 10px 30px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  z-index: 1000;
}

.program-description {
  padding: 5px;
  .description-block {
    margin-right: 20px;
    .block-heading {
      padding-bottom: 5px;
    }
    .block-info {
      padding: 5px;
      background: rgba(180 , 20, 20, 1);
      color: #FFFFFF;
    }
  }
}
.programs-list > div {
  margin: 10px 0;
}

.program-link {
  text-decoration: none !important;
}

.center-spacer {
  width: 20%;
  border-top: 3px solid rgba(180 , 20, 20, 1);
}



// modifier classes

.overlay-fade-in {
  p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear;
  }

  img {
    transition: all 0.2s linear;
    height: 250px;
    max-height: 250px;
  }

  .image-overlay-content {
    opacity: 0;
    background-color: rgba(0,0,0, 0.4);
    transition: all 0.4s ease-in-out;
  }

   div h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 40%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #FFF;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 5px #000;
    }
  }

  &:hover img {
    transform: scale(1.2);
  }

  &:hover .image-overlay-content {
    opacity: 1;
  }

  &:hover h2, p, .button {
    opacity: 1;
  }

  &:hover p {
    transition-delay: 0.1s;
  }

  &:hover .button {
    transition-delay: 0.2s;
  }
}

.blue-shadow-box {
  border: 1px solid rgba(81, 203, 238, 1);
  &:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

.red-shadow-box {
  border: 1px solid rgba(255, 25, 25, 0.9);
  &:hover {
    box-shadow: 0 0 5px rgba(255, 25, 25, 0.9);
  }
}

.day-exercise-container{
  div {
    img {
      max-height: 150px;
      padding: 10px;
    }
  }
}


.day-exercise-content{

}
.day-exercise-link{
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.inline {
  display: inline-block;
}

.field {
  margin: 5px 0;
  #body-type-glyphicon {
    position: absolute;
    right: 10px;
    top: -6px;
  }
}
.tooltip {
  background: transparent !important;
}
.tooltip-image {
  max-height: 150px;
}

.body-tooltip + .tooltip > .tooltip-inner {background-color: transparent !important;}

.full-width {
  width: 100% !important;

}

.image-resp {
  background-size:     cover;                      /* contain for height */
  background-repeat:   no-repeat;
  background-position: center center;
}

.program-head {
  position: relative;
  height: 70vh;
  @extend .image-resp;
  #program-head-block{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 40%;
    margin: auto auto 20px 50px;
    z-index: 100;
    color: #FFFFFF;
  }
}

#program-body {
  .desc-blocks {
    > div {
      margin-bottom: 10px;
    }
    margin: 10px 0;
    .desc-block{
      /*background: rgba(255, 25, 25, 0.9);*/
      padding: 10px 0;
      color: rgba(180 , 20, 20, 1);
      border: solid 2px rgba(180 , 20, 20, 1);
      border-radius: 10px;
      .block-info {
        padding-bottom: 5px;
        font-size: 1.5em;
      }
      .block-title{
        color: black;
      }
    }
  }
  .description-row {
    p{
      float: none;
      clear: both;
    }
  }
  #assign-program {
    #assign-pr {
      padding-left: 0 !important;
    }
  }
}

@media (max-width: 768px) {
  /* Bump up size of carousel content */
  .block-info {
    font-size: 1.2em !important;
  }
}

#program-plan {
  .tabable {
    margin-top: 60px;
  }
  .nav-pills > li > a {

  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #000000 !important;
    background-color: #FFFFFF !important;
    border: solid 1px red;
  }
  .tab-content {
    .tab-pane {
      padding: 0 !important;
      .day-exercise-link {
        padding: 0 !important;
        margin: 15px 5px;
        .day-exercise-container {
          padding: 0 !important;
          > div {
            padding: 5px !important;
          }
        }
      }
    }
  }
}

.edit-program {
  .training-days {
    > div > div {
      margin: 5px 0;
    }

    .edit-day-container {
      width: 100%;
      height: 100%;
    }
  }
  .list-group-item {
    .clock-image {
      max-height: 50px;
    }
  }
  .exercise {
    > div {
      p {
        padding: 0 5px;
      }
    }

  }
  .form-control {
    margin-bottom: 15px;
  }
}

.modal-body {
  .form-control {
    display: inline-block !important;
    width: 27% !important;
    margin: 10px;
  }
  .select {
    width: 55% !important;
  }
  .btn-primary {
    float: right;
    margin-right: 50px;
  }
}

.avatar{
  height: 300px;
  width: 300px;
}

#individual-section {
  #heading {
    position: relative;
    background-image: asset-url('programs/individual');
    height: 100vh;
    @extend .image-resp;
    .container {
      position: relative;
      height: 100%;
      .row {
        position: relative;
        height: 33% !important;
        div {
          position: relative;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          h1 {
            align-self: center;
            font-size: 4em;
            color: rgba(180 , 20, 20, 1);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #individual-section {
    #heading {
      .container {
        .row {
          div {
            h1 {
              font-size: 1.5em !important;
            }
          }
        }
      }
    }
  }
}

#process {
  padding: 100px 0 50px;
  background: #20222e asset-url('common/bg') no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#process h2 {
  color: #fff;
}
#process h3 {
  color: #fff;
  margin-bottom: 0;
}
#process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid rgba(180 , 20, 20, 1); /*#45aed6;*/
  border-radius: 100px;
  position: relative;
}
#process .icon-circle > span {
  border: 2px solid rgba(180 , 20, 20, 1); /*#45aed6;*/
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#process h3 {
  margin-bottom: 50px;
}

.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: rgba(180 , 20, 20, 1);/*#45aed6;*/
}

#individual-form {
  padding-bottom: 50px;
  .row {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    > label {
      align-self: center;
    }
    > div {
      display: flex;
      justify-content: center;
      label {
        align-self: center;
      }
    }
    #body-type-glyphicon {
      position: absolute;
      right: 10px;
      top: -6px;
    }
  }
}

#services {
  background-color: #f8f8f8;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}

.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: rgba(180 , 20, 20, 1);//#45aed6;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: rgba(180 , 20, 20, 1);//#45aed6;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, rgba(180 , 20, 20, 0.6) 0%, rgba(180 , 20, 20, 1) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(180 , 20, 20, 0.6) 0%, rgba(180 , 20, 20, 1) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(180 , 20, 20, 0.6) 0%, rgba(180 , 20, 20, 1) 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}

.program-wrap {
  background: #eeeeee;
}