// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-info {
  padding: 150px 0;
  .dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
  }


  .table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
    > td {
      border-top: 0;
    }
  }

  .table-user-information > tbody > tr:first-child {
    border-top: 0;
  }


  .toppad
  {margin-top:20px;
  }
}
