<section id="exercise-group">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center"> <%= @group.name %> </h2>
      <p class="text-center"> Вправи на групу м’язів </p>
    </div>
  </div>
    <div class="container" id="exercise-list">
      <div class="row">
        <%= render partial: 'exercises_list', locals: {exercises: @group.exercises} %>
      </div>
    </div>
</section>
