<section id="parameters">
  <div class="section-header">
    <h2 class="section-title text-center"> Щоденник прогресу </h2>
    <p class="text-center">  </p>
  </div>
  <div id="params-container" class="container">
    <%= render partial: 'parameters_list', locals: {parameters: @parameters} %>
  </div>

  <div id="params-form" class="container">
    <%= render 'form' %>
  </div>
  <div class="container">
    <div id="chart">
      <%= render partial: 'chart', locals: {info: @data} %>
    </div>

  </div>
</section>