<section id="parameters">
  <div class="container" id="head">
    <div class="section-header">
      <h2 class="section-title text-center"> Щоденник прогресу </h2>
      <p class="text-center"> Слідкуйте за своїми змінами </p>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
        <div class="icon-circle">
          <span> 1 </span>
          <i class="fa fa-search fa-2x"></i>
        </div>
        <h3> Проводьте заміри </h3>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
        <div class="icon-circle">
          <span>2</span>
          <i class="fa fa-edit  fa-2x"></i>
        </div>
        <h3> Записуйте результати </h3>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-lg-3">
        <div class="icon-circle">
          <span>3</span>
          <i class="fa fa-line-chart  fa-2x"></i>
        </div>
        <h3> Вивчайте зміни </h3>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-lg-3">
        <div class="icon-circle">
          <span>4</span>
          <i class="fa fa-lightbulb-o fa-2x"></i>
        </div>
        <h3> Робіть висновки </h3>
      </div>
    </div>
  </div>
  <div id="params-form" class="container">
    <h3 class="text-center">
        Введіть результати замірів
    </h3>
    <%= render partial: 'form', locals: {param: @parameter} %>
  </div>
  <div id="params-container" class="container">
    <%= render partial: 'parameters_list', locals: {parameters: @parameters} %>
  </div>

  <div class="container">
    <div id="chart">
      <%= render partial: 'chart', locals: {info: @data, count: @parameters.count} %>
    </div>
  </div>
</section>